<p>servers works!</p>
<!-- <label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)"/> -->
<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>{{serverName}}</p>

	<hr>
<label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName" />
<button class="btn btn-primary" [disabled]="userName === ''" (click)="this.userName = ''">Reset Username</button>
<p>{{userName}}</p>
<button class="btn btn-primary" [disabled]='!allowNewServer'
(click)="onserverCreation()" >add server</button>
<!-- <p>{{serverCreation}}</p> -->
<p *ngIf="serverCreated ; else noServer">server created ! server Name is {{serverName}} </p>
<ng-template #noServer>
<p>no server created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
