<div class="container">
<div class="row">
<div class="col-xs-12">
{{title}}
<hr>
<app-server></app-server>
<app-servers></app-servers>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<p>Lorem ipsum dolor sit amet.</p>
<!-- <button class="btn btn-primary" 
(click)="showSecret = !showSecret">user details</button> -->
<button class="btn btn-primary"
 (click)="ToggleDetials()">user details</button>
<p *ngIf="showSecret">secret details </p>
<div *ngFor="let logItem of log; let i = index"
[ngStyle]="{backgroundColor: i>=4 ? 'blue': 'transparent'}"
[ngClass]="{'whitetext':i>=4}">
{{logItem}}
</div>
</div>
</div>
